.bottom-bar {
  align-items: center;
  border-color: var(--neutral-200);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  justify-content: center;
  padding: 14px 15px; /* Adjust padding for responsiveness */
  position: relative;
  width: 100%; /* Set width to 100% for responsiveness */
  max-width: 1184px; /* Set a maximum width */
  margin: 0 auto; /* Center the element horizontally */
}

.bottom-bar .items {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 20px; /* Adjust gap for responsiveness */
  position: relative;
}

.bottom-bar .div,
.bottom-bar .element-all-rights {
  color: var(--neutral-600);
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
  text-align: center; /* Center text for smaller screens */
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .bottom-bar .items, .element-all-rights {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Align items to the center */
    font-size: 10px;
  }

}