.doctorsReviews {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.haveALook {
  margin: 0;
  font-size: var(--menu-text-size);
  color: var(--color-gray-200);
}
.doctorsReviewsHaveContainer1 {
  width: 100%;
}
.doctorsReviewsHaveContainer {
  height: 7.75rem;
  width: 54.125rem;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.doctorsReviewsHaveALookAWrapper,
.firstteamreviewParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.doctorsReviewsHaveALookAWrapper {
  width: 88.375rem;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-41xl);
  color: var(--color-teal-100);
  font-family: var(--font-poppins);
}
.firstteamreviewParent {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5.063rem 3.875rem;
  min-height: 53.813rem;
}
.frameParent,
.leavereviewdoc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frameParent {
  width: 96.25rem;
  padding: 0 2.688rem 5.119rem;
  gap: 8.938rem;
  max-width: 100%;
}
.leavereviewdoc {
  width: 100%;
  position: relative;
  background-color: var(--neutral-white);
  overflow: hidden;
  padding: 0 5.563rem 4rem 0;
  gap: 6.063rem;
  letter-spacing: normal;
}
@media screen and (max-width: 1225px) {
  .frameParent {
    gap: 4.438rem 8.938rem;
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    padding-bottom: 2.125rem;
    box-sizing: border-box;
  }
  .leavereviewdoc {
    padding-right: 2.75rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .firstteamreviewParent {
    gap: 5.063rem 1.938rem;
  }
  .frameParent {
    gap: 2.25rem 8.938rem;
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .leavereviewdoc {
    gap: 3rem 6.063rem;
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .doctorsReviewsHaveContainer {
    font-size: var(--roboto-regular-16-size);
  }
  .firstteamreviewParent {
    gap: 5.063rem 0.938rem;
  }
  .frameParent {
    gap: 1.125rem 8.938rem;
  }
  .leavereviewdoc {
    gap: 1.5rem 6.063rem;
  }
}
