.iconStethoscope {
  height: 8rem;
  width: 7.563rem;
  position: relative;
}
.iconStethoscopeWrapper {
  width: 18.35rem;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.bookAnAppointment {
  align-self: stretch;
  height: 3.5rem;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.bookAnAppointment1 {
  flex: 1;
  position: relative;
}
.bookAnAppointmentWithOurPWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-base) 0 var(--padding-mid);
  font-size: var(--menu-text-size);
  color: var(--color-darkslategray-300);
}
.bookAnAppointmentParent,
.bookappointement {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.bookAnAppointmentParent {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.bookappointement {
  width: 23.125rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-30xl) var(--padding-19xl) var(--padding-50xl)
    var(--padding-9xl);
  box-sizing: border-box;
  gap: var(--gap-4xl);
}
.groupIcon {
  height: 7.5rem;
  width: 7.325rem;
  position: relative;
}
.groupWrapper {
  width: 18.988rem;
  height: 7.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.accessYouHistory,
.gainInstantAccess {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.accessYouHistory {
  align-self: stretch;
  height: 3.5rem;
  font-weight: 600;
}
.gainInstantAccess {
  width: 18.5rem;
  height: 15.188rem;
  font-size: var(--menu-text-size);
  color: var(--color-darkslategray-300);
}
.accessYouHistoryParent,
.medicalhistory {
  width: 19rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.medicalhistory {
  width: 23.125rem;
  border-radius: var(--br-3xs);
  background: linear-gradient(#fff, #fff), #52b2e2;
  border: 3px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-30xl) var(--padding-9xl) var(--padding-50xl);
  gap: var(--gap-12xl);
}
.healthiconsnutritionOutline {
  height: 8.75rem;
  width: 8.75rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.healthiconsnutritionOutlineWrapper {
  align-self: stretch;
  height: 8.75rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.requestNutritionAdvice,
.unlockPersonalizedNutrition {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.requestNutritionAdvice {
  align-self: stretch;
  height: 3.188rem;
  font-weight: 600;
  flex-shrink: 0;
}
.unlockPersonalizedNutrition {
  height: 15.188rem;
  flex: 1;
}
.unlockPersonalizedNutritionWrapper {
  width: 19.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
  font-size: var(--menu-text-size);
  color: var(--color-darkslategray-300);
}
.nutrition {
  width: 23.125rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-deepskyblue-200);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-30xl) var(--padding-9xl) var(--padding-50xl)
    var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.services,
.servicesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.services {
  flex: 1;
  overflow-x: auto;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.servicesWrapper {
  width: 91.813rem;
  justify-content: flex-start;
  padding: 0 var(--padding-30xl) 0 var(--padding-30xl-5);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-teal-200);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1250px) {
  .servicesWrapper {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .bookappointement,
  .medicalhistory,
  .nutrition {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .bookAnAppointment {
    font-size: var(--menu-text-size);
  }
  .bookAnAppointment1 {
    font-size: var(--roboto-regular-16-size);
  }
  .accessYouHistory {
    font-size: var(--menu-text-size);
  }
  .gainInstantAccess {
    font-size: var(--roboto-regular-16-size);
  }
  .requestNutritionAdvice {
    font-size: var(--menu-text-size);
  }
  .unlockPersonalizedNutrition {
    font-size: var(--roboto-regular-16-size);
  }
}
