.logoIcon {
  height: 6rem; /* Adjust height */
  width: 8rem; /* Adjust width */
  bottom:1rem;
  position: relative;
  object-fit: cover;
}

.homePage {
  width: 4.5rem;
  height: 3rem;
  min-width: 4.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 2.5rem 3rem;
  font-size: small;
  bottom:1rem;
}

.aboutUs {
  position: relative;
  width: 3.5rem;
  height: 3rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5.375rem;
  white-space: nowrap;
  cursor: pointer;
  padding: 2.5rem 3rem;
  font-size: small;
  bottom:1rem;
}
.bookAppointement {
  position: relative;
  width: 3.5rem;
  height: 3rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5.375rem;
  white-space: nowrap;
  cursor: pointer;
  padding: 2.5rem 5rem;
  font-size: small;
  bottom:1rem;
}

.medicalHistory,
.nutritionPlan,
.requestTest {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  padding: 2.5rem 4rem;
  font-size: small;
  bottom:1rem;
}
.requestTest {
  width: 7.563rem;
  min-width: 7.563rem;
  height: 3rem;
  font-size: small;
  bottom:1rem;
}
.medicalHistory,
.nutritionPlan {
  width: 9.063rem;
  height: 3rem;
}
.nutritionPlan {
  width: 8.125rem;
  height: 3rem;
}

.homePageParent,
.topBar {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.homePageParent {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--menu-text-size);
  color: var(--not-selected-menu);
  font-family: var(--menu-text);
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text within elements */
}
.topBar {
  width: 59.125rem;
  flex-direction: column;
  justify-content: space-between; 
  box-sizing: border-box;
  max-width: 100%;
  height: 5rem;
}
.userIcon {
  width: 2.2rem;
  height: 2.5rem;
  position: relative;
  border-radius: var(--br-11xl);
  overflow: hidden;
  flex-shrink: 0;
  height: 5rem;
  right: 40px;
  bottom:1rem;
}
.navbar,
.userWrapper {
  display: flex;
  box-sizing: border-box;
}
.userWrapper {
  height: 3.938rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
}

.navbar {
  position: relative;
  right: 10%;
  width: 117%;
  background: linear-gradient(
    180deg,
    rgba(82, 178, 226, 0.23),
    rgba(255, 255, 255, 0.23)
  );
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-4xl) var(--padding-87xl) var(--padding-64xl)
    var(--padding-43xl);
  flex-shrink: 0;
  align-self: stretch;
  flex-wrap: wrap;
  height: 11rem;
}

/*

@media screen and (max-width: 1575px) {
  .navbar {
    flex-wrap: wrap;
    max-width: 1800px; 
  }
}


@media screen and (min-width: 800px) and (max-width: 1360px) {

  .homePageParent{
    gap: 3rem;
  }

  .navbar {
    padding-left: var(--padding-2xl);
    box-sizing: border-box;

  }

  .logoIcon {
    height: 7rem; 
    width: 8rem; 
  }

  .homePage {
    width: 5rem; 
    min-width: 5rem; 
  }
  .aboutUs {
    width: 4rem; 
    min-width: 4rem; 
  }
  .requestTest {
    width: 5rem;
    min-width: 5rem; 
  }
  .medicalHistory,
  .nutritionPlan {
    width: 7rem; 
    min-width: 7rem; 
  }
  .bookAppointement {
    width:4rem;
    min-width:4rem;
    flex: 1;
  }
  
}

@media screen and (max-width: 800px) {
  .homePageParent {
    gap: 2.125rem 1.063rem;
  }
  .topBar {
    display: none;
  }
}

@media screen and (max-width: 450px) {

  .navbar {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .logoIcon {
    height: 4rem; 
    width: 8rem; 
  }
  .homePage {
    width: 5rem; 
    min-width: 5rem; 
  }
  .aboutUs {
    width: 4rem; 
    min-width: 4rem; 
  }
  .requestTest {
    width: 6rem;
    min-width: 6rem; 
  }
  .medicalHistory,
  .nutritionPlan {
    width: 7rem; 
    min-width: 7rem; 
  }
  .bookAppointement {
    flex: 1;
  }
}

*/
