.name,
.xhesiBaze {
  width: 3.244rem;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: none;
  height: 1.25rem;
  flex-shrink: 0;
}
.xhesiBaze {
  width: 6.488rem;
  font-weight: 600;
  color: var(--color-darkslategray-100);
}
.email,
.frameChild {
  position: relative;
  box-sizing: border-box;
}
.frameChild {
  align-self: stretch;
  height: 0.125rem;
  backdrop-filter: blur(6px);
  border-top: 2px solid var(--color-midnightblue-200);
  display: none;
}
.email {
  letter-spacing: 0.1em;
  font-weight: 500;
  display: inline-block;
  min-width: 3.137rem;
  padding-right: 0;
}
.emailWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 var(--padding-2xs-4);
}
.xhbazegmailcom {
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 600;
  white-space: nowrap;
  padding-right: 0;
}
.xhbazegmailcomWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 var(--padding-2xs-4);
}
.frameItem {
  align-self: stretch;
  height: 0.125rem;
  position: relative;
  backdrop-filter: blur(6px);
  border-top: 2px solid var(--color-midnightblue-200);
  box-sizing: border-box;
}
.frameContainer,
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  gap: var(--gap-8xs-2);
  color: var(--color-darkslategray-100);
}
.frameGroup {
  padding: 0 var(--padding-7xs) 0 0;
  gap: var(--gap-3xs-4);
  flex-shrink: 0;
}
.password {
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: inline-block;
  min-width: 5.644rem;
}
.passwordWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 var(--padding-2xs-4);
}
.newMoonIcon,
.newMoonIcon1,
.newMoonIcon2 {
  height: 0.594rem;
  width: 0.844rem;
  position: relative;
  object-fit: cover;
  min-height: 0.625rem;
}
.newMoonIcon2 {
  width: 0.781rem;
}
.newMoonIcon3,
.newMoonIcon4,
.newMoonIcon5,
.newMoonIcon6,
.newMoonIcon7,
.newMoonIcon8 {
  height: 0.594rem;
  width: 0.844rem;
  position: relative;
  object-fit: cover;
  min-height: 0.625rem;
}
.newMoonIcon6,
.newMoonIcon7,
.newMoonIcon8 {
  width: 0.781rem;
}
.newMoonIcon7,
.newMoonIcon8 {
  width: 0.844rem;
}
.newMoonParent,
.parentContainer {
  display: flex;
  align-items: flex-start;
}
.newMoonParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-6xs-2);
}
.parentContainer {
  width: 10.575rem;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-2);
  box-sizing: border-box;
}
.eyeIcon {
  height: 1.119rem;
  width: 3.763rem;
  position: relative;
  object-fit: cover;
}
.parentContainerParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.button,
.signUpButtonInner {
  align-self: stretch;
  box-sizing: border-box;
}
.signUpButtonInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-2xs-4);
  max-width: 100%;
}
.button {
  height: 0.125rem;
  position: relative;
  backdrop-filter: blur(6px);
  border-top: 2px solid var(--color-midnightblue-200);
}
.nameParent,
.signUpButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.signUpButton {
  align-self: stretch;
  gap: var(--gap-5xs-8);
  flex-shrink: 0;
}
.nameParent {
  height: 8.863rem;
  flex: 1;
  padding: 0 0 var(--padding-67xl-2);
  box-sizing: border-box;
  gap: var(--gap-13xl-6);
}
.choseYourRole {
  width: 11.1rem;
  letter-spacing: 0.1em;
  font-weight: 500;
  height: 1.269rem;
  flex-shrink: 0;
}
.choseYourRole,
.div,
.instanceChild {
  position: relative;
  display: none;
}
.instanceChild {
  height: 0.125rem;
  width: 31.863rem;
  backdrop-filter: blur(6px);
  border-top: 2px solid var(--color-midnightblue-200);
  box-sizing: border-box;
  max-width: 100%;
}
.div {
  height: 1.381rem;
  width: 12.269rem;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: var(--color-darkslategray-100);
  flex-shrink: 0;
  white-space: nowrap;
}
.phoneNumber,
.selectARole {
  height: 1.25rem;
  position: relative;
}
.phoneNumber {
  width: 8.569rem;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: none;
  flex-shrink: 0;
}
.selectARole {
  flex: 1;
  letter-spacing: 0.01em;
  line-height: 1.25rem;
  display: inline-block;
}
.searchItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 11.25rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
  box-sizing: border-box;
}
.caretUpIcon {
  position: absolute;
  top: 2.25rem;
  left: 13.25rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  object-fit: contain;
}
.defaultSelection {
  align-self: stretch;
  height: 3rem;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-white);
  border-bottom: 1px solid var(--grey-grey-90);
  box-sizing: border-box;
}
.firstSelection {
  height: 1.25rem;
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 1.25rem;
  display: inline-block;
}
.selectionItem {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
}
.firstSelection1 {
  height: 1.25rem;
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 1.25rem;
  display: inline-block;
}
.selectionItem1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
}
.firstSelection2 {
  height: 1.25rem;
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 1.25rem;
  display: inline-block;
}
.selectionItem2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
}
.lists,
.selectionList {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.lists {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  gap: var(--gap-9xs);
}
.selectionList {
  border-radius: var(--br-5xs);
  background-color: var(--neutral-white);
  border: 1px solid var(--grey-grey-45);
  padding: var(--padding-5xs) 0;
  color: var(--grey-grey-10);
}
.dropDownBox,
.frameParent,
.selectionList {
  align-items: flex-start;
  justify-content: flex-start;
}
.dropDownBox {
  width: 13.75rem;
  border-radius: var(--br-5xs);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  display: none;
  flex-direction: column;
  gap: var(--gap-5xs);
  color: var(--grey-grey-45);
  font-family: var(--roboto-regular-16);
}
.frameParent {
  position: absolute;
  top: 8.25rem;
  left: 6.125rem;
  width: 32.125rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-211xl) 0;
  box-sizing: border-box;
  min-height: 40.5rem;
  max-width: 100%;
  text-align: left;
  font-size: var(--roboto-regular-16-size);
  color: var(--color-midnightblue-200);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .parentContainerParent {
    flex-wrap: wrap;
  }
  .nameParent {
    height: auto;
  }
}
