.basedOnYour,
.personalMeasurements {
  align-self: stretch;
  position: relative;
  line-height: 1.75rem;
  font-weight: 600;
}

.basedOnYour {
  font-size: var(--font-size-xs);
  line-height: 1rem;
  font-weight: 300;
  color: var(--color-dimgray);
}

.personalMeasurements{
  font-size: 0.9rem;
}

.personalMeasurementsParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(0.1rem);
  font-size: var(1rem);
}

.fieldLabel {
  align-self: stretch;
  position: relative;
  line-height: 1.2rem;
}

.contents,
.fieldLabelParent {
  align-self: stretch;
  max-width: 100%;
}

.contents {
  border: 0;
  background-color: transparent;
  height: 2.5rem;
}

.fieldLabelParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(gap-7xs-9-1);
}

.fieldLabel1 {
  align-self: stretch;
  position: relative;
  line-height: 1.2rem;
}

.contents1,
.fieldLabelGroup {
  align-self: stretch;
  max-width: 100%;
}


.contents1 {
  border: 0;
  background-color: transparent;
  height: 2.5rem;
}


.fieldLabelGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(gap-7xs-9-1);
}


.fieldLabel2,
.fieldLabel3 {
  flex: 1;
  position: relative;
  line-height: 1.2rem;
  display: inline-block;
  min-width: 7.313rem;
}


.fieldLabelContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}


.contents2,
.contents3 {
  border: 0;
  background-color: transparent;
  height: 2.5rem;
  flex: 1;
  min-width: 7.313rem;
}


.frameParent,
.nextButtonLabel,
.personalinfo {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.3rem;
}

.frameParent,
.personalinfo {
  flex-direction: column;
  gap: var(gap-7xs-9-1);
}

.personalinfo {
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  padding: 0.7rem 0.8rem;
  gap: 0.4rem;
  max-width: 100%;
  text-align: left;
  font-size: 0.7rem;
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}

.contents input,
.contents1 input,
.contents2 input,
.contents3 input {
  font-size: 10px; /* Adjust the font size as needed */
}




@media screen and (max-width: 450px) {
  .personalMeasurements {
    font-size: var(--font-size-base);
    line-height: 1.375rem;
  }
  .fieldLabelContainer,
  .nextButtonLabel {
    flex-wrap: wrap;
    gap: 0.2rem 0.1rem;
  }
  .personalinfo {
    gap: 2rem 2rem;
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
