.yourOwnReview {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.feelFreeTo {
  margin: 0;
  font-size: var(--menu-text-size);
  color: var(--color-gray-200);
}
.yourOwnReviewContainer {
  align-self: stretch;
  height: 7.75rem;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.leaveAReview,
.pleaseLeaveYour {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 1.5rem;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-darkslategray-100);
  text-align: left;
}
.pleaseLeaveYour {
  font-size: var(--font-size-xs);
  line-height: 1rem;
  font-weight: 300;
  color: var(--color-dimgray-100);
}
.leaveAReviewParent {
  width: 24.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  max-width: 100%;
}
.inputChild {
  border: 1px solid var(--color-darkslategray-100);
  background-color: var(--neutral-white);
  height: auto;
  width: 24.688rem;
  outline: 0;
  align-self: stretch;
  position: relative;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  max-width: 100%;
}
.input,
.leaveareview {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  align-self: stretch;
  height: 7.875rem;
  flex-direction: row;
  max-width: 100%;
}
.leaveareview {
  width: 28rem;
  flex-direction: column;
  gap: var(--gap-mini);
  flex-shrink: 0;
  max-width: 114%;
}
.leaveARating,
.pleaseLeaveYour1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 1.5rem;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-darkslategray-100);
  text-align: left;
}
.pleaseLeaveYour1 {
  font-size: var(--font-size-xs);
  line-height: 1rem;
  font-weight: 300;
  color: var(--color-dimgray-100);
}
.leaveareview1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.starHalfIcon,
.starOutlineIcon,
.starPurple500Icon,
.starPurple500Icon1,
.starPurple500Icon2 {
  height: 2.006rem;
  width: 2.006rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 2rem;
}
.dropdownbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-7xs-3);
}
.chooseTheDoctor,
.selectADoctor {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 1.5rem;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-darkslategray-100);
  text-align: left;
}
.chooseTheDoctor {
  font-size: var(--font-size-xs);
  line-height: 1rem;
  font-weight: 300;
  color: var(--color-dimgray-100);
}
.defaultSelection,
.selectADoctorParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.selectADoctorParent {
  flex-direction: column;
  gap: var(--gap-11xs);
}
.defaultSelection {
  border-radius: var(--br-5xs);
  background-color: var(--neutral-white);
  border-bottom: 1px solid var(--grey-grey-90);
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-sm) var(--padding-5xs) var(--padding-xs)
    var(--padding-base);
  font-family: var(--roboto-regular-16);
  font-size: var(--roboto-regular-16-size);
  color: var(--grey-grey-45);
}
.inputBlinker {
  height: 2rem;
  width: 0.125rem;
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--grey-grey-45);
  overflow: hidden;
  flex-shrink: 0;
}
.findAnItem {
  align-self: stretch;
  position: relative;
  font-size: var(--roboto-regular-16-size);
  letter-spacing: 0.01em;
  line-height: 1.25rem;
  font-family: var(--roboto-regular-16);
  color: var(--grey-grey-45);
  text-align: left;
}
.bottomBar,
.searchListField,
.searchListFieldWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottomBar {
  width: 10.625rem;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.searchListField,
.searchListFieldWrapper {
  flex-direction: row;
}
.searchListField {
  flex: 1;
  border-radius: var(--br-5xs);
  border-bottom: 1px solid var(--grey-grey-90);
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-base);
}
.searchListFieldWrapper {
  align-self: stretch;
  padding: 0 var(--padding-9xs);
}
.firstSelection {
  flex: 1;
  position: relative;
  font-size: var(--roboto-regular-16-size);
  letter-spacing: 0.01em;
  line-height: 1.25rem;
  font-family: var(--roboto-regular-16);
  color: var(--grey-grey-10);
  text-align: left;
}
.selectionItem {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
  white-space: nowrap;
}
.firstSelection1 {
  flex: 1;
  position: relative;
  font-size: var(--roboto-regular-16-size);
  letter-spacing: 0.01em;
  line-height: 1.25rem;
  font-family: var(--roboto-regular-16);
  color: var(--grey-grey-10);
  text-align: left;
}
.selectionItem1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
  white-space: nowrap;
}
.firstSelection2 {
  flex: 1;
  position: relative;
  font-size: var(--roboto-regular-16-size);
  letter-spacing: 0.01em;
  line-height: 1.25rem;
  font-family: var(--roboto-regular-16);
  color: var(--grey-grey-10);
  text-align: left;
}
.selectionItem2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
  white-space: nowrap;
}
.firstSelection3 {
  flex: 1;
  position: relative;
  font-size: var(--roboto-regular-16-size);
  letter-spacing: 0.01em;
  line-height: 1.25rem;
  font-family: var(--roboto-regular-16);
  color: var(--grey-grey-10);
  text-align: left;
}
.selectionItem3 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-base);
  white-space: nowrap;
}
.firstSelection4 {
  flex: 1;
  position: relative;
  font-size: var(--roboto-regular-16-size);
  letter-spacing: 0.01em;
  line-height: 1.25rem;
  font-family: var(--roboto-regular-16);
  color: var(--grey-grey-10);
  text-align: left;
}
.dropDownBox,
.lists,
.selectionItem4,
.selectionList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.selectionItem4 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-white);
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base);
  white-space: nowrap;
}
.dropDownBox,
.lists,
.selectionList {
  flex-direction: column;
}
.lists {
  align-self: stretch;
  padding: 0 var(--padding-9xs);
  gap: var(--gap-9xs);
}
.dropDownBox,
.selectionList {
  border-radius: var(--br-5xs);
}
.selectionList {
  align-self: stretch;
  background-color: var(--neutral-white);
  border: 1px solid var(--grey-grey-45);
  padding: var(--padding-5xs) 0;
  gap: var(--gap-9xs);
}
.dropDownBox {
  width: 13.75rem;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  gap: var(--gap-5xs);
}
.submit1 {
  position: relative;
  font-size: var(--menu-text-size);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--neutral-white);
  text-align: left;
  display: inline-block;
  min-width: 4.625rem;
}
.form,
.submit {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.submit {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) var(--padding-28xl);
  background-color: var(--color-cadetblue);
  border-radius: var(--br-11xl);
  flex-direction: row;
}
.form {
  margin: 0;
  width: 28.5rem;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-13xl);
  gap: var(--gap-14xl);
  max-width: 100%;
}
.selectaclinic {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.selectaclinic,
.yourOwnReviewFeelFreeToLParent,
.yourownreview {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.yourOwnReviewFeelFreeToLParent {
  width: 54.125rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-73xl);
}
.yourownreview {
  width: 90.125rem;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-41xl);
  color: var(--color-teal-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1225px) {
  .form {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .yourOwnReviewFeelFreeToLParent {
    gap: 2.875rem 5.75rem;
  }
}
@media screen and (max-width: 850px) {
  .form {
    gap: 1rem 2.063rem;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .submit1,
  .yourOwnReviewContainer {
    font-size: var(--roboto-regular-16-size);
  }
  .yourOwnReviewFeelFreeToLParent {
    gap: 1.438rem 5.75rem;
  }
}
