.clinic-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
}

.accept, .decline{
    color: white !important;
    border-radius: 10px !important;
    font-family: var(--font-inter)!important;
    font-size: var(--font-size-xs)!important;
    box-shadow: none!important;

}
.accept{
    background-color: #52b2e2!important;
   
}

.decline{
    background-color: #e2526c!important;
}

