.clinicListing,
.clinicOptions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  flex-shrink: 0;
  background-color: white;
}


.clinicOptions {
  position: relative;
  top:5rem;
  width: 99.769rem;
  flex-wrap: wrap;
  gap: 1.062rem 1.787rem;
  min-height: 24.188rem;
  margin-top: 10rem;
  display: flex;
  justify-content: center; /* Horizontally center the items */
}

.aboutUs {
  display: inline-block;
  min-width: 4.313rem;
  font-size:14px;
}
.aboutUs,
.emergencyNum {
  position: relative;
  font-size:14px;
}
.privacyPolicy,
.reviews,
.termsOfUse {
  position: relative;
  display: inline-block;
  min-width: 3.75rem;
  font-size:14px;
}
.privacyPolicy,
.termsOfUse {
  min-width: 6.375rem;
  font-size:14px;
}
.termsOfUse {
  min-width: 6rem;
  font-size:14px;
}
.items {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-20xl-8);
  min-width: 52rem;
  max-width: 100%;
}
.allRightsReserved {
  position: relative;
  text-align: right;
  font-size:14px;
  margin-left:27rem;
}
.emergencyNum a,
.privacyPolicy a,
.termsOfUse a,
.aboutUs a,
.reviews a{
  text-decoration: none; /* Remove underline */
  color: black; /* Change text color */
  cursor: pointer; /* Ensure cursor changes on hover */
  font-size:14px;
}

.bottombar {
  position: relative;
  align-self: stretch;
  margin-left:-85px;
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-3xl) 0 var(--padding-5xl);
  row-gap: 20px;
  margin-left:-5px;
}
.bottombar,
.footer,
.footerContent {
  display: flex;
  max-width: 100%;
}
.footerContent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.footer {
  position:relative;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-smi);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--roboto-regular-16-size);
  color: var(--color-darkslateblue);
  font-family: var(--font-dm-sans);
  margin-left:106px;
  margin-right:60px;
}


@media screen and (max-width: 1200px) {
  .clinicListing {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
