
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-4xl) var(--padding-87xl) var(--padding-64xl) var(--padding-43xl);
  flex-shrink: 0;
  align-self: stretch;
  flex-wrap: wrap;
  box-sizing: border-box;
}


.bookAnAppointment {
  font-weight: 600;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  margin: 0;
}


.pickTheClinic {
  position:absolute;
  margin: 0;
  color: var(--color-gray-200);
  height: 3rem;
  width: 33rem;
  font-weight: 600;
  display: flex;
  align-items: center; 
  max-width:100%;
  top:12.5rem;
  font-size:20px;
  margin-bottom:3rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.appointmentBanner,
.navbarParent {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.appointmentBanner {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  height:30px;
}
.navbarParent {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-40xl);
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-41xl);
  color: var(--color-teal-100);
  font-family: var(--font-poppins);
}


@media screen and (max-width: 1400px) {
  .navbar {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .navbar {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-34xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .navigationMenu {
    gap: var(--gap-mid);
  }
  .navigationLinks {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .navbar {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .bookAnAppointmentContainer {
    font-size: var(--font-size-base);
  }
  .navbarParent {
    gap: var(--gap-10xl);
  }
}
