.userIcon {
  height: 3rem;
  width: 3rem;
  position: relative;
  border-radius: var(--br-11xl);
  overflow: hidden;
  flex-shrink: 0;
  margin-top:10px;
  margin-left:5px;
}
.starHalfIcon,
.starOutlineIcon,
.starPurple500Icon,
.starPurple500Icon1,
.starPurple500Icon2 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 2rem;
  left:1rem;
}
.reviewerRatings,
.starRatings {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.starRatings {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-7xs-3);
}
.reviewerRatings {
  width: 11.363rem;
  flex-direction: column;
  padding: var(--padding-sm-6) 0 0;
  box-sizing: border-box;
}
.reviewersAvatars {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.foe,
.sampleReview {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
}
.foe {
  font-weight: 600;
  min-width: 3.5rem;
  font-size:20px;
}
.sampleReview {
  align-self: stretch;
  height: 1.875rem;
  font-size: var(--font-size-2xl-4);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
  margin-left:5px;
}
.firstteamreview,
.reviewContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.reviewContent {
  align-self: stretch;
  gap: var(--gap-base-1);
}
.firstteamreview {
  flex: 1 1;
  border-radius: 5.35px;
  background-color: var(--neutral-white);
  border: 1.3px solid var(--color-whitesmoke);
  box-sizing: border-box;
  padding: var(--padding-14xl) var(--padding-4xl) var(--padding-155xl) var(--padding-13xl-1); /* Adjusted padding */
  min-width: 15rem; 
  max-width: 80%; 
  text-align: center;
  font-size: var(--font-size-10xl-4);
  color: var(--color-darkslategray-200);
  font-family: var(--font-manrope);
  margin-left: -2rem; 
  margin-right:5rem;
}


@media screen and (max-width: 450px) {
  .reviewersAvatars {
    flex-wrap: wrap;
  }
  .foe {
    font-size: var(--font-size-5xl);
  }
  .sampleReview {
    font-size: var(--font-size-mid);
  }
  .firstteamreview {
    gap: var(--gap-mid);
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-94xl);
    box-sizing: border-box;
  }
}
