.nav-bar {
  height: 100px; /* Adjust height as needed */
  width: 100%;
  display: flex;
  justify-content: space-between; /* Align items at opposite ends */
  align-items: center; /* Vertically center items */
  padding: 0 20px; /* Add padding to the sides */
}

.logo {
  height: 140px; /* Adjust height as needed */
  width: auto; /* Allow width to adjust based on content */
}

.buttons-container {
  display: flex;
  align-items: center; /* Align buttons vertically center */
}

.support,
.about-us {
  background-color: #ffffff;
  border: 1px solid #3d77c7; /* Adjust border color */
  color: #2a5f71;
  font-family: "Clash Display-Regular", Helvetica;
  font-weight: 200;
  text-align: center;
  padding: 10px 20px; /* Add padding to buttons */
  margin-left: 40px; /* Adjust spacing between buttons */
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .nav-bar {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start; /* Align items to the start */
    padding: 10px; /* Adjust padding */
  }

  .buttons-container {
    margin-top: 10px; /* Adjust margin between logo and buttons */
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .support,
  .about-us {
    margin-left: 0; /* Remove margin between buttons */
    margin-top: 10px; /* Adjust margin between buttons */
  }
}


  

  