.clinic-body {
    height: 100vh; 
    background: linear-gradient(#e8f5fc, white);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    margin: 0; 
}
