.icon,
.logoIcon {
  position: relative;
}
.logoIcon {
  height: 8.5rem;
  width: 12.619rem;
  position: relative;
  object-fit: cover;

}
.icon {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  flex-shrink: 0;
}
.iconWrapper,
.logoParent {
  display: flex;
  align-items: flex-start;
}
.iconWrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
}
.logoParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.unsplashdmsdujjlg,
.unsplashdmsdujjlgWrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.unsplashdmsdujjlg {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--neutral-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.656rem 0 0;
  gap: 6.937rem;
}
.unsplashdmsdujjlgWrapper {
  width: 92.75rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 3rem;
}
.uploadDoc {
  width: 100%;
  position: relative;
  background-color: var(--neutral-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-25xl) 5.562rem 9.687rem 5.5rem;
  box-sizing: border-box;
  gap: 3rem;
  line-height: normal;
  letter-spacing: normal;
  height: 100vh; 
  overflow-y: auto;
}

@media screen and (max-width: 1200px) {
  .unsplashdmsdujjlgWrapper {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .uploadDoc {
    gap: 1.938rem;
    padding-left: var(--padding-25xl);
    padding-right: var(--padding-25xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .unsplashdmsdujjlg {
    gap: 3.438rem;
  }
}
@media screen and (max-width: 450px) {
  .logoParent {
    flex-wrap: wrap;
  }
  .unsplashdmsdujjlg {
    gap: 1.75rem;
  }
  .uploadDoc {
    gap: 0.938rem;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
